# 1.3 파이썬 인터프리터

## 1.3.1 산술 연산

In [12]:
#뺄셈은 "-"로 나타냅니다.
1 - 2

-1

In [13]:
#곱셈은 "*"로 나타냅니다.
4 * 5

20

In [14]:
#나누기는 "/"로 나타냅니다.
7 / 5

1.4

In [15]:
#제곱은 "**"로 나타냅니다.
3 ** 2

9

## 1.3.2 자료형

* 자료형 - 데이터의 성질을 나태내는 것으로, 정수, 소수, 문자열과 같은 형태가 있습니다.

In [21]:
#type() 함수로 데이터의 자료형을 알 수 있습니다.
print(type(10))
print(type(2.718))
print(type("hello"))

<class 'int'>
<class 'float'>
<class 'str'>

## 1.3.3 변수

* 변수 - x와 y 등의 알파벳을 사용하여 계산하거나, 다른 값에 대입 할 수 있습니다.

In [22]:
x = 10
print(x)

10

In [23]:
x = 100
print(x)

100

In [25]:
y = 3.14
x * y

314.0

In [28]:
print(type(x * y))

<class 'float'>

## 1.3.4 리스트

In [29]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [42]:
#리스트의 길이를 나타낼 수 있습니다.
len(a)

5

In [43]:
#리스트의 0을 대입하여 리스트의 1번째 자리 숫자를 나타낼 수 있습니다.
a[0]

1

In [32]:
#리스트의 4을 대입하여 리스트의 5번째 자리 숫자를 나타낼 수 있습니다.
a[4]

5

In [44]:
#리스트에 4을 대입하여, 리스트의 5번째 자리 숫자를 수정할 수 있습니다. 
a[4] = 99
print(a)

[1, 2, 3, 4, 99]

* 슬라이싱 - 이 기법을 이용하여 리스트 안의 특성 원소 하나뿐 아니라 부분 리스트에도 접근이 가능합니다.

In [36]:
print(a)

[1, 2, 3, 4, 99]

In [37]:
#[시작:끝] 범위로 지정하여, 1번째 자리 숫자부터 3번째 자리 숫자 미만까지 나타낼 수 있습니다. 
a[0:2]

[1, 2]

In [38]:
#[시작:] 범위로 지정하여, 1번쨰 자리 숫자부터 끝 자리 숫자까지 나타낼 수 있습니다. 
a[1:]

[2, 3, 4, 99]

In [39]:
#[:끝] 범위로 지정하여, 3번째 자리 숫자까지 나타낼 수 있습니다. 
a[:3]

[1, 2, 3]

In [40]:
#[:음수] 범위로 지정하여, 끝에서 (리스트 크기 -1)번째 자리 숫자까지 나타낼 수 있습니다. 
a[:-1]

[1, 2, 3, 4]

In [41]:
#[:음수] 범위로 지정하여, 끝에서 (리스트 크기 -2)번째 자리 숫자까지 나타낼 수 있습니다. 
a[:-2]

[1, 2, 3]

## 1.3.5 딕셔너리

* 딕셔너리는 키와 값을 한 쌍으로 저장합니다.

In [47]:
#딕셔너리로 키(height)와 값(180)으로 저정할 수 있습니다. 
me = {'height':180}
me['height']

180

In [48]:
#딕셔너리로 키(weight)와 값(70)으로 저정할 수 있습니다. 
me['weight'] = 70
print(me)

{'height': 180, 'weight': 70}

## 1.3.6 bool

* bool은 자료형이며, True와 False라는 두 값으로 나옵니다. 또한, and, or, not이라는 연산자를 사용 할 수 있습니다.

In [49]:
hungry = True
sleepy = False
type(hungry)

bool

In [50]:
#not이 붙으면, True에서 False, False에서 True로 변형됩니다.
not hungry

False

In [54]:
#and가 있으면, (True,True)면 True, (True,False) 또는 (False,True)면 False, (False,False)면 False입니다. 
hungry and sleepy

False

In [52]:
#or이 있으면, True가 1개 이상이라도 있으면, 항상 True이고, True가 1개라도 없으면, False가 됩니다. 
hungry or sleepy

True

## 1.3.7 if 문

In [57]:
#만약 hungry가 True라면, if 문 안에 있는 문장을 출력합니다. 
hungry = True
if hungry:
    print("I'm hungry")

I'm hungry

In [58]:
#만약 hungry가 False라면, else문 안에 있는 문장들을 출력합니다. 
hungry = False
if hungry:
    print("I'm hungry")
else:
    print("I'm not hungry")
    print("I'm sleepy")

I'm not hungry
I'm sleepy